# Test telegram bot
TEST_BOT='TELEGRAM_BOT_API_KEY_HERE'
TEST_BOT_HANDLE='@telegram_bot_handle'

# PostgreSQL
POSTGRES_DB='logistics'
POSTGRES_USER='logistics'
POSTGRES_PASSWORD='CHANGE_ME'
DATABASE_URL='postgresql+asyncpg://logistics:CHANGE_ME@postgres:5432/logistics'

# Default values
# DEFAULT_PRICE_PER_KM=65
