# Telegram bot API
TEST_BOT='TELEGRAM_BOT_API_KEY_HERE'
TEST_BOT_HANDLE='@telegram_bot_handle'

# PostgreSQL
POSTGRES_DB='logistics'
POSTGRES_USER='logistics'
POSTGRES_PASSWORD='CHANGE_ME'

# Default values
# DEFAULT_PRICE_PER_KM=65
