# Test telegram bot
TEST_BOT='TELEGRAM_BOT_API_KEY_HERE'
TEST_BOT_HANDLE='@telegram_bot_handle'

# Default values
# DEFAULT_PRICE_PER_KM=65
# MTProto parser (Source Telegram Channels)
TELEGRAM_API_ID=123456
TELEGRAM_API_HASH='your_api_hash_here'
SOURCE_CHANNELS='channel_one,channel_two'
